@import "tailwindcss";

@theme {
    --color-yrgo-red: #E51236;
    --color-dark-blue: #001A52;
    --color-dark-gray: #5B5B5B;
    --color-border-grey: #797979;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}