@import "tailwindcss";

@theme {
    --color-yrgo-red: #E51236;
    --color-dark-blue: #001A52;
    --color-dark-gray: #5B5B5B;
    --color-b-grey: #797979;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }
   
    h1 {
        font-size: var(--text-6xl);
        font-weight: 600;
        color: var(--color-yrgo-red);
        line-height: 1;
        text-transform: uppercase;
    }

    h2 {
        font-size: var(--text-4xl);
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
    }
    
    h3 {
        font-size: var(--text-xl);
        font-weight: 600;
        text-transform: uppercase;
    }

    h4 {
        font-family: 'Instrument Serif', serif;
        font-size: var(--text-3xl);
        font-weight: 400;
        line-height: 1;
        color: var(--color-yrgo-red);
    }

    .large {
        font-size: var(--text-lg);
        font-weight: 600;
        text-transform: uppercase;
        color: var(--color-yrgo-red);
    }
    
    p {
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .bold {
        font-weight: 600;
    }
    
    .menu-links {
        text-transform: uppercase;
        font-size: var(--text-base);
        font-weight: 600;
    }

    .a-underline {
        font-weight: 400;
        font-size: var(--text-xs);
        text-decoration: underline;
    }

    .profile {
        color: var(--color-dark-blue);
    }

    .profile-italic {
        font-style: italic;
    }

    span {
        font-weight: 500;
        line-height: 1.2;
        font-size: var(--text-sm);
        text-transform: none;
    }

    .profileCan {
        color: var(--color-dark-blue);
        font-size: var(--text-xl);
        
    }
    
  }

